@import './variables.scss';

//font
@import "~@fontsource/poppins/300.css";
@import "~@fontsource/poppins/400.css";
@import "~@fontsource/poppins/500.css";
@import "~@fontsource/poppins/600.css";
@import "~@fontsource/poppins/700.css";
@import "~@fontsource/poppins/800.css";

//fontawesome
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid"; // fas
@import "~@fortawesome/fontawesome-free/scss/regular"; // far
@import "~@fortawesome/fontawesome-free/scss/brands"; // fab

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: $text-col;
    font-weight: 300;
}

.container {
    width: 60%;
    margin: 0 auto;
}

ul.inline-list {
    list-style: none;

    li {
        display: inline-block;
    }
}