@mixin flex-center ($axis: 'both') {
    display: flex;

    @if $axis == 'both' {
        justify-content: center;
        align-items: center;
    } @else if $axis == 'main' {
        justify-content: center;        
    } @else if $axis == 'cross' {
        align-items: center;       
    }
}

@mixin flex-wrap-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}
