@mixin flex-center ($axis: 'both') {
    display: flex;

    @if $axis == 'both' {
        justify-content: center;
        align-items: center;
    } @else if $axis == 'main' {
        justify-content: center;        
    } @else if $axis == 'cross' {
        align-items: center;       
    }
}

@mixin small-font {
    font-size: 15px;
    font-weight: 200;
}