//colors
$brand-dark-col: #048383;
$brand-col: #45bbbc;
$brand15-col: rgba($brand-col, 0.15);

$text-col: #fff;
$text-dark-col: #21333e;

$bg-dark-col: #0d0d11;
$bg-col: #111117;

$black10: rgba(#000, 0.1);
$white3: rgba(#fff, 0.03);
$white60: rgba(#fff, 0.6);
$white80: rgba(#fff, 0.8);

$topbar-height: 50px;
$nav-height: 70px;
