//colors
$brand-dark-col: #058283;
$brand-col: #02a6a6;
$brand-alpha20-col: rgba(#02a6a6, 0.2);
$text-col: #fff;
$text-light-col: #c0c3d0;
$text-dark-col: #21333e;
$bg-dark-col: #0d0d11;
$bg-dark-col: #111117;
$bg-light-col: #19191f;